---
import { Article, contentfulClient } from "@utils/contentful";
import { getFormattedDate } from "@utils/helpers";
import { SITE_TITLE, SITE_DESCRIPTION } from "@utils/consts";
import BaseLayout from "../../layouts/BaseLayout.astro";

const data = await contentfulClient.getEntries<Article>({
  content_type: "article",
});
const articles = (data.items as Array<Article>).sort((a, b) => {
  const d1 = new Date(a.fields.publishedDate);
  const d2 = new Date(b.fields.publishedDate);
  return d1 > d2 ? -1 : 1;
});
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} isHome={true}>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1 class="text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto">
      <span class="font-semibold">All articles</span>
    </h1>
  </section>

  <section class="grid gap-6 mt-10" aria-label="latest articles">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        articles.map(({ fields }) => {
          const {
            title,
            slug,
            category: categoryFields,
            publishedDate,
            metaDescription,
            article_author,
            featuredImage,
          } = fields;

          const category = categoryFields.fields.name;
          const author = article_author[0].fields;

          return (
            <article class="grid gap-0.5 content-start">
              <div
                class="h-[200px] bg-cover bg-center p-4 md:h-[300px] mb-3"
                style={{
                  backgroundImage: `url('${featuredImage.fields.file.url}')`,
                }}
              >
                <p class="bg-white py-1 uppercase text-xs font-extrabold text-elba px-2 w-fit">
                  {category}
                </p>
              </div>

              <h3 class="font-bold text-elba text-xl -tracking-[.6px] leading-[26px] hover:underline focus:underline">
                <a
                  class="transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
                  href={new URL(`articles/${slug}`, Astro.site)}
                >
                  {title}
                </a>
              </h3>
              <p class="text-philippine-grey font-light -tracking-[.125px] leading-[23px] mt-[5px] mb-2">
                {metaDescription}
              </p>

              <div class="flex items-center mt-1 gap-1 md:gap-1.5 text-elba font-serif w-max">
                <span
                  class="rounded-full inline-block bg-cover bg-center w-6 h-6 border-2 border-elba mr-1"
                  style={{
                    backgroundImage: `url('${author.avatar.fields.file.url}')`,
                  }}
                />
                <p class="text-sm font-semibold">
                  <a
                    class="transition-all hover:underline focus:underline focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
                    href={new URL(`authors/${author.slug}`, Astro.site)}
                  >
                    {author.name}
                  </a>
                </p>
                <span class="bg-elba/50 w-0.5 h-0.5 rounded-full" />
                <p class="text-sm">{getFormattedDate(publishedDate)}</p>
              </div>
            </article>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
