---
import { Image, contentfulClient, Author } from "@utils/contentful";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Articles } from "@components/Articles";

export const getStaticPaths = async () => {
  const { items: authors } = await contentfulClient.getEntries<Author>({
    content_type: "author",
  });
  return authors.map(({ fields }) => ({
    params: { slug: fields.slug },
    props: {
      ...fields,
    },
  }));
};

const { name, role, bio, avatar, slug } = Astro.props;
---

<BaseLayout title={`${name} - Author`} metaDescription={bio}>
  <header
    class="w-full gap-4 p-6 max-w-lg mx-auto bg-elba flex flex-wrap items-center content-center justify-center min-h-80"
  >
    <div class="flex items-center gap-2 w-full justify-center">
      <div
        style={{
          "background-image": `url(${(avatar as Image).fields.file.url})`,
        }}
        class="rounded-full bg-cover bg-center w-16 h-16"
      >
      </div>

      <div>
        <h1 class="font-[700] text-lg text-white -tracking-[1.25px]">
          {name}
        </h1>

        <p class="text-neutral-200 text-sm">
          {role}
        </p>
      </div>
    </div>

    <p class="text-neutral-200 text-lg font-serif text-center md:max-w-1/2">
      {bio}
    </p>
  </header>

  <section class="grid gap-6">
    <header class="flex flex-wrap items-center gap-4 justify-between mt-10">
      <hr class="flex flex-grow w-fit border-top border-slate-500/50" />
      <h2 class="text-lg font-semibold">Articles by {name}</h2>
      <hr class="flex flex-grow w-fit border-top border-slate-500/50" />
    </header>

    <Articles client:load authorSlug={slug} />
  </section>
</BaseLayout>
