---
import BaseLayout from "@layouts/BaseLayout.astro";

import { Author, contentfulClient } from "@utils/contentful";

export async function getStaticPaths() {
  const { items } = await contentfulClient.getEntries<Author>({
    content_type: "author",
  });
  return items.map(({ fields }) => ({
    params: { slug: fields.slug },
    props: {
      ...fields,
    },
  }));
}

const { name, role, bio, avatar } = Astro.props;
---

<BaseLayout title={`${name} - Author`} metaDescription={bio}>
  <header
    class="w-full gap-4 p-6 max-w-[1216px] mx-auto bg-[#252621] flex flex-wrap items-center content-center justify-center h-80"
  >
    <div class="flex items-center gap-2 w-full justify-center">
      <div
        style={{ "background-image": `url(${avatar.fields.file.url})` }}
        class="rounded-full bg-cover bg-center w-16 h-16"
      >
      </div>

      <div>
        <h1 class="font-[700] text-lg text-white -tracking-[1.25px]">
          {name}
        </h1>

        <p class="text-[#CCCCCC] text-sm">
          {role}
        </p>
      </div>
    </div>

    <p class="text-[#CCCCCC] text-lg font-serif text-center max-w-1/2">
      {bio}
    </p>
  </header>
</BaseLayout>
