---
import { Category, contentfulClient } from "@utils/contentful";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Articles } from "@components/Articles";

export const getStaticPaths = async () => {
  const { items } = await contentfulClient.getEntries<Category>({
    content_type: "category",
  });
  return items.map(({ fields }) => ({
    params: { slug: fields.slug },
    props: {
      ...fields,
    },
  }));
};

const { slug, name, description } = Astro.props;
---

<BaseLayout title={`${name} Articles`} metaDescription={description}>
  <section
    class="bg-elba -mx-4 py-8 px-8 md:-mx-6 md:py-12 lg:mx-[calc((1216px-100vw)/2)]"
  >
    <h1
      class="font-semibold text-white text-2xl max-w-lg lg:text-4xl lg:mx-auto"
    >
      {name} Articles
    </h1>
    <p class="text-gray-400 text-normal mt-2 max-w-lg lg:mx-auto">
      {description}
    </p>
  </section>

  <section class="grid gap-6 mt-10" aria-label="latest articles">
    <Articles client:load categorySlug={slug} />
  </section>
</BaseLayout>
