---
import { Article, contentfulClient } from "@utils/contentful";
import { getFormattedDate } from "@utils/helpers";
import { SITE_TITLE, SITE_DESCRIPTION } from "@utils/consts";
import BaseLayout from "../layouts/BaseLayout.astro";

const data = await contentfulClient.getEntries<Article>({
  content_type: "article",
});
const articles = (data.items as Array<Article>).sort((a, b) => {
  const d1 = new Date(a.fields.publishedDate);
  const d2 = new Date(b.fields.publishedDate);
  return d1 > d2 ? -1 : 1;
});
const featuredArticle = articles.shift();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} isHome={true}>
  <section aria-label="featured article" class="w-full gap-6">
    <a
      class="group"
      href={`${Astro.site}articles/${featuredArticle.fields.slug}`}
      aria-label={featuredArticle.fields.title}
    >
      <article
        class="relative h-[400px] md:h-[600px] bg-cover bg-center flex items-end transition-all ease-in-out group-focus:outline-none group-focus:ring-2 group-focus:ring-elba group-focus:ring-offset-2 group-focus:scale-102 group-hover:scale-102"
        style={{
          backgroundImage: `url('${featuredArticle.fields.featuredImage.fields.file.url}')`,
        }}
      >
        <div class="absolute w-full h-full bg-[#141624]/40"></div>

        <div class="relative z-10 p-6 md:py-14 md:px-12 grid gap-4">
          <p
            class="bg-white py-1 uppercase text-xs font-extrabold text-elba px-2 w-fit"
          >
            {featuredArticle.fields.category}
          </p>

          <div
            class="flex items-center gap-2 md:gap-2.5 text-white font-serif w-max"
          >
            <span
              class="rounded-full inline-block bg-cover bg-center w-8 h-8 md:w-12 md:h-12 mr-1 md:mr-2 border-2 border-white"
              style={{
                backgroundImage: `url('${featuredArticle.fields.article_author[0].fields.avatar.fields.file.url}')`,
              }}></span>
            <p class="text-sm font-semibold md:text-base">
              {featuredArticle.fields.article_author[0].fields.name}
            </p>
            <span class="bg-white w-1 h-1 rounded-full"></span>
            <p class="text-sm md:text-base">
              {getFormattedDate(featuredArticle.fields.publishedDate)}
            </p>
          </div>

          <h2
            class="font-extrabold text-2xl md:text-4xl text-white max-w-[500px]"
          >
            <span class="sr-only">Featured article:</span>
            {featuredArticle.fields.title}
          </h2>
        </div>
      </article></a
    >
  </section>

  <section class="grid gap-6" aria-label="latest articles">
    <header class="flex flex-wrap items-center gap-4 justify-between mt-10">
      <hr class="flex flex-grow w-fit border-top border-[#97989F]/50" />
      <h2 class="text-lg font-semibold">Latest articles</h2>
      <hr class="flex flex-grow w-fit border-top border-[#97989F]/50" />
    </header>

    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        articles.map(({ fields }) => {
          const {
            title,
            slug,
            category,
            publishedDate,
            metaDescription,
            article_author,
            featuredImage,
          } = fields;

          const author = article_author[0].fields;

          return (
            <article class="grid gap-0.5 content-start">
              <div
                class="h-[200px] bg-cover bg-center p-4 md:h-[300px] mb-3"
                style={{
                  backgroundImage: `url('${featuredImage.fields.file.url}')`,
                }}
              >
                <p class="bg-white py-1 uppercase text-xs font-extrabold text-elba px-2 w-fit">
                  {category}
                </p>
              </div>

              <h3 class="font-bold text-elba text-xl -tracking-[.6px] leading-[26px] hover:underline focus:underline">
                <a
                  class="transition-all focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
                  href={new URL(`articles/${slug}`, Astro.site)}
                >
                  {title}
                </a>
              </h3>
              <p class="text-philippine-grey font-light -tracking-[.125px] leading-[23px] mt-[5px] mb-2">
                {metaDescription}
              </p>

              <div class="flex items-center mt-1 gap-1 md:gap-1.5 text-elba font-serif w-max">
                <span
                  class="rounded-full inline-block bg-cover bg-center w-6 h-6 border-2 border-elba mr-1"
                  style={{
                    backgroundImage: `url('${author.avatar.fields.file.url}')`,
                  }}
                />
                <p class="text-sm font-semibold">
                  <a
                    class="transition-all hover:underline focus:underline focus:outline-none focus:ring-2 focus:ring-elba focus:ring-offset-2"
                    href={new URL(`authors/${author.slug}`, Astro.site)}
                  >
                    {author.name}
                  </a>
                </p>
                <span class="bg-elba/50 w-0.5 h-0.5 rounded-full" />
                <p class="text-sm">{getFormattedDate(publishedDate)}</p>
              </div>
            </article>
          );
        })
      }
    </div>
  </section>
</BaseLayout>
