---
import BaseHead from "@components/BaseHead.astro";
import { Header } from "@components/Header";
import { Footer } from "@components/Footer";

import { Article, Category, contentfulClient } from "@utils/contentful";

let { items: articles } = await contentfulClient.getEntries<Article>({
  content_type: "article",
});
articles = (articles as Array<Article>).sort((a, b) => {
  const d1 = new Date(a.fields.publishedDate);
  const d2 = new Date(b.fields.publishedDate);
  return d1 > d2 ? -1 : 1;
});

let { items: categories } = await contentfulClient.getEntries<Category>({
  content_type: "category",
});
categories = (categories as Array<Category>).sort((a, b) =>
  a.fields.name.localeCompare(b.fields.name),
);

const { title, metaDescription, isHome } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={metaDescription} isHome={isHome} />
  </head>
  <body>
    <Header site={Astro.site} articles={articles} client:load />

    <main class="max-w-lg mx-auto mb-12 px-4 md:px-6 lg:p-0 lg:pt-6">
      <slot />
    </main>

    <Footer categories={categories} />
  </body>
</html>
