---
import BaseHead from "@components/BaseHead.astro";
import { Header } from "@components/Header";
import { Footer } from "@components/Footer";
import { Article, Category, contentfulClient } from "@utils/contentful";

const { items: articles } = await contentfulClient.getEntries<Article>({
  content_type: "article",
  order: ["-fields.publishedDate"],
});
// todo: fix type issue
const { items: categories } = await contentfulClient.getEntries<Category>({
  content_type: "category",
  order: ["-fields.name"] as any,
});

const { title, metaDescription, isHome } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={metaDescription} isHome={isHome} />
  </head>
  <body>
    <!-- todo: fix type issue -->
    <Header
      site={Astro.site?.toString() || ""}
      articles={articles as any}
      client:load
    />

    <main class="max-w-lg mx-auto mb-12 px-4 md:px-6 lg:p-0 lg:pt-6">
      <slot />
    </main>

    <!-- todo: fix type issue -->
    <Footer
      client:load
      url={Astro.site}
      isHome={isHome}
      categories={categories as any}
    />
  </body>
</html>
